@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
$cube-width: clamp(180px, 30vw, 250px);
$side-color: white;
$dot-color: black;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}

body {
  background-color: #000000;
}

button {
  padding: 0.4rem 1.2rem;
  border-radius: 15px;
  background-color: #f21212;
  border: none;
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}
button:active {
  background-color: #ad0d0d;
}


.container {
  margin: 0 auto;
  width: 100dvw;
  max-width: 1000px;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 1000px;
  touch-action: none;
  .light {
    position: absolute;
    width: 50dvw;
    height: 50dvw;
    border-radius: 50%;
    background-color: rgba(246, 246, 250, 0.2);
    box-shadow: 0 0 100px 100px rgba(249, 249, 249, 0.2);
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%) translateZ(-100px);
  }
  .checkColor {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 1.2rem;
  }
  .dotColor {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 1.2rem;
  }
}

.cube {
  width: $cube-width;
  height: $cube-width;
  position: relative;
  transform-style: preserve-3d;
  z-index: 1000000;
  transition: 2s;
  @keyframes trans {
    0% {
      transform: rotateY(0deg) rotateX(0deg);
    }
    100% {
      transform: rotateY(-360deg) rotateX(360deg);
    }
  }
}

.dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: $dot-color;
}

.side {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  background-color: $side-color;
  backface-visibility: hidden;
  font-size: 6em;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.455);
  &:nth-child(1) {
    background-color: $side-color;
    transform: translateZ(calc($cube-width / 2));
  }
  &:nth-child(2) {
    transform: translateZ(calc($cube-width / -2)) rotateY(180deg);
    .dot {
      &:nth-child(1) {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
      &:nth-child(2) {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
      }
    }
  }
  &:nth-child(3) {
    transform: rotateY(90deg) translateZ(calc($cube-width / 2));
    .dot {
      &:nth-child(1) {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
      &:nth-child(2) {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
      }
    }
  }
  &:nth-child(4) {
    transform: rotateX(90deg) translateZ(calc($cube-width / 2));
    .dot {
      &:nth-child(1) {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
      &:nth-child(2) {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
      }
      &:nth-child(3) {
        position: absolute;
        top: 2rem;
        left: 2rem;
      }
      &:nth-child(4) {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
      }
    }
  }
  &:nth-child(5) {
    transform: rotateX(-90deg) translateZ(calc($cube-width / 2));
    .dot {
      &:nth-child(1) {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
      &:nth-child(2) {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
      }
      &:nth-child(3) {
        position: absolute;
        top: 2rem;
        left: 2rem;
      }
      &:nth-child(4) {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
      }
    }
  }
  &:nth-child(6) {
    transform: rotateY(-90deg) translateZ(calc($cube-width / 2));
    .dot {
      &:nth-child(1) {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
      &:nth-child(2) {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
      }
      &:nth-child(3) {
        position: absolute;
        top: 2rem;
        left: 2rem;
      }
      &:nth-child(4) {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
      }
      &:nth-child(5) {
        position: absolute;
        left: 2rem;
      }
      &:nth-child(6) {
        position: absolute;
        right: 2rem;
      }
    }
  }
}
